@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html,
body,
*:not(.blog) {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
  font-family: "Fira Code";
  color: #9db2c9;
  -webkit-overflow-scrolling: touch;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body > div {
  width: 100vw;
  height: 100vh; /* https://github.com/w3c/csswg-drafts/issues/865 */
  overflow-x: hidden; /* prevent scroll in safari */
}

:root {
  --gradient: linear-gradient(270deg, #f6d371, #f27a21, #cf2872, #912eb9, #4d58ce);
}



/* p, pre, code, strong, h1, h2, h3, h4, h5, h6, ul, li {
  color: #425a73;
}

ol, ul {
  padding-left: 40px;
} */

.horizontal::after {
  padding-right: max(32px, calc(50vw - 800px / 2));
  height: 100px;
  content: "";
}

.blog {
  margin-top: 32px;
}

.blog > * {
  position: relative;
  z-index: 1000;
}

.blog > a {
  z-index: 0;
}

.blog > ol, .blog > ul {
  list-style-position: outside;
  margin-left: 1em;
}

.blog > p {
  margin: 0.95em 0 1.2em;
  padding: 0.2em;
}