html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Fira Code";
  color: #9db2c9;
}

body {
  width: 100vw;
  height: 100vh;
}

:root {
  --gradient: linear-gradient(
    #34D0F5 0%,
    #347EF5 50%,
    #4D5CCE 100%
  );
}